* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', Arial, sans-serif; 
    overflow-x: hidden; 
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    color: hsl(192, 100%, 9%); 
}
p {
    color: hsl(208, 11%, 55%);
}



.block1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%); 
}

.champs1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; 
}

.logo img {
    height: 30px;
}

.Free button {
    padding: 10px 40px;
    width: auto; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.Free button:hover {
    color: hsl(208, 11%, 55%);
}

.champs2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-grow: 1;
}

.build {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.build h1 {
    font-size: 2.5rem; 
    width: 100%;
}

.build p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.build button {
    padding: 15px 60px;
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    background-color: hsl(322, 100%, 66%); 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.build button:hover {
    background-color: hsl(322, 100%, 78%);
}

.Div_image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.Div_image img {
    width: 100%;
    max-width: 650px;
}



.gran_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    gap: 40px; 
    margin-bottom: 0;
}

.block3, .block4, .block5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 1000px;
    max-width: 1900px;
    padding: 50px 70px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}


.loyal, .card1, .s1 {
    width: 45%;
    padding: 0 40px;
}
.loyal h1, .card1 h1, .s1 h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.loyal p, .card1 p, .s1 p {
    font-size: 1.1rem;
    line-height: 1.7;
}


.grow, .card2, .s2 {
    width: 50vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}
.grow img, .card2 img, .s2 img {
    width: 100%;
    max-width: 450px;
}

.block6 {

    position: relative;
    z-index: 3;
    width: 80%; 
    min-height: 400px;
    max-width: 700px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 50px; 
    background-color: white;
    transform: translateY(50%); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Ready h1 {
    font-size: 2.3rem;
    color: hsl(192, 100%, 9%);
    margin: 0;
}

.sk button {
    margin-top: 30px; 
    width: 250px; 
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 15px;
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.sk button:hover {
    background-color: hsl(322, 100%, 78%);
}



.footer-section {
    background-color: hsl(192, 100%, 9%); 
    color: white;
    width: 100%;
    padding-top: 150px; 
}

.footer-content {
    display: flex;
    padding: 100px 5% 50px;
    flex-wrap: wrap;
    gap: 80px; 
    justify-content: space-between;
}


.footer-logo-info {
    display: flex;
    gap: 20px;
    max-width: 350px;
}

.Div_image0 img {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 250px;
    min-height: 100%;
    height: auto;
}

.icon-svg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-icon, .div_p, .div_com {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.div-icon .email img, .div_p .email img, .div_com .email img {
    width: 18px;
    height: auto;
    margin-top: 5px;
}

.footer-text {
    width: auto; 
}

.footer-text p, .div_p p, .div_com p {
    margin: 0; 
    line-height: 1.6;
}


.footer-links {
    margin-right: 0; 
}
.footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 2.2;
}
.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-links a:hover {
    color: hsl(322, 100%, 66%); 
}


.footer-social {
    display: flex;
    gap: 15px;
    align-items: flex-start; 
    margin-top: 20px;
}
.footer-social a {
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.footer-social a:hover {
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

.footer-bottom {
    text-align: right;
    padding: 20px 5%;
    font-size: 0.8em;
    color: white;
}


@media (max-width: 1440px) {
    .build h1 { font-size: 2.2rem; }
    .build p { font-size: 1rem; }
    .loyal h1, .card1 h1, .s1 h1 { font-size: 1.8rem; }
    .loyal p, .card1 p, .s1 p { font-size: 1rem; }
    .Ready h1 { font-size: 1.8rem; }
}

@media (max-width: 992px) {
    .champs2 {
        flex-direction: column;
        text-align: center;
    }
    .build, .Div_image {
        width: 100%;
        align-items: center;
    }
    .build h1, .build p {
        width: 80%;
        margin: 0 auto;
    }
    .build button {
        margin: 0 auto;
    }
    .block3, .block5 {
        flex-direction: column-reverse; 
        text-align: center;
    }
    .block4 {
        flex-direction: column; 
        text-align: center;
    }
    .loyal, .card1, .s1, .grow, .card2, .s2 {
        width: 100%;
        padding: 0;
    }
    .loyal h1, .card1 h1, .s1 h1 {
        margin-top: 30px;
    }
    
    .footer-content {
        flex-direction: column;
        gap: 50px;
    }
    .footer-logo-info {
        max-width: 100%;
    }
    .footer-links ul {
        align-items: flex-start;
    }
    .footer-social {
        justify-content: flex-start;
    }
    .footer-bottom {
        text-align: center;
    }
}


@media (max-width: 768px) {
.champs1 {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
/* .logo img{
  width: 50%;
}
.Free button{
  margin-right: 39%;
  padding: 7px;
  width: 51%;
} */

.champs2{
  width: 100% !important;
  flex-direction: column;
}
.Div_image img{
  width: 77vw;
}
.block1{
  width: 100%;
}

.build h1 {
  white-space: nowrap;
  font-size: 1.9rem;
  margin-left: 8%;
}

.build p {
  align-items: center;
  text-align: center;
}

.build button{
  width: auto;
  /* margin-left: 38%; */
}  
.block4{
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.block3,
.block5 {
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  
  gap: 2rem;
}
.block5{
  margin-top: -40px;
}

.grow img,
.card2 img,
.s2 img {
  width: 90%;
}
.block6{
  /* min-width: 100px; */
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px
}
.Ready h1{
  font-size: 1.3rem;
}
.sk button{
  font-size: 0.9rem;
}
.sk{
  width: 150px;  
  margin: 0 auto;
}
.champs {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.Div_image0 img{
  width: 50%;
  /* margin-right: 0 auto; */
}
.div-icon p{
  display: flex;
  align-items: start;
  justify-content: start;
}
.rond0 img{
  gap: 10rem;
}
.div_exemple ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.footer-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.icon-svg{
    display: flex;
    text-align: center;
}
.div_p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_com{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo-info{
    display: flex;
    flex-direction: column;
} 

}


@media (max-width: 375px) {

  .block1{
    flex-direction: column;
  }
  .champs1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } 
  .build{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .champs2 >.build h1{
    display: flex;
    font-size: 1.9rem;
    white-space: wrap;
    place-items: start;
    text-align: start;
    justify-content: center;
  }
  .champs2 >.build button{
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .block6{
    display: flex;
    flex-direction: column;
  }
.sk{
    width: 70%;
}
.Div_image img{
    margin: 0 auto;
    margin-top: -15%;
}
.block6 > .Ready h1{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    justify-content: center;
}


} 

@media (max-width: 425px) {
  .champs2 >.build h1{
    display: flex;
    font-size: 1.9rem;
    white-space: wrap;
    /* place-items: start;
    text-align: start; */
    justify-content: center;
  }
  .champs2 >.build button{
    font-size: 0.9rem;
    margin: 0 auto;
  }
.block6 > .Ready h1{
    display: flex;
    text-align: center;
    /* font-size: 1.1rem; */
    /* justify-content: center; */
  }
  .block6 >.sk button{
    font-size: 0.7rem;
    width: 100%;
    /* margin: 0 auto; */
  }
}

/* @media (max-width: 576px) {
    .block1 { padding: 8% 4%; }
    .champs1 { margin-bottom: 30px; }
    .logo img { height: 20px; }
    .Free button { padding: 8px 30px; font-size: 0.8rem; }

    .build h1 { font-size: 1.8rem; width: 100%; }
    .build p { font-size: 0.9rem; width: 100%; }
    .build button { font-size: 0.9rem; padding: 12px 40px; }

    .block3, .block4, .block5 { padding: 30px; }
    .loyal h1, .card1 h1, .s1 h1 { font-size: 1.5rem; }
    .loyal p, .card1 p, .s1 p { font-size: 0.9rem; }
    
    .block6 {
        width: 90%;
        padding: 30px 20px;
    }
    .Ready h1 { font-size: 1.4rem; }
    .sk button { width: 200px; font-size: 0.9rem; }
    .div-icon, .div_p, .div_com {
        align-items: flex-start; 
        gap: 10px;
    }
} */

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .build h1 {
    font-size: 1.2rem;
  }

  .build p {
    font-size: 0.8rem;
  }

  .Free button,
  .build button,
  .block6 button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .Div_image img,
  .grow img,
  .card2 img,
  .s2 img {
    width: 100%;
  }

  .div_exemple ul li {
    font-size: 0.8rem;
  }
} 
